@model RegistrationAndLogin.aPersona_API.VerifyOTPModel
@using RegistrationAndLogin.aPersona_API;
@{
    ViewBag.Title = "VerifyOTP";
    var asmAPIOptions = Session["asmAPIOpts"] as ASMAPIOptsModel;
    string codeSentVia = string.Empty;
    string codeSentViaValue = string.Empty;
    if (asmAPIOptions != null)
    {
        switch (asmAPIOptions.OTPM)
        {
            case "e":
                codeSentVia = "Email";
                codeSentViaValue = asmAPIOptions.Email;
                break;
            case "s":
                codeSentVia = "SMS";
                codeSentViaValue = asmAPIOptions.PhoneNumber;
                break;
            default:
                codeSentVia = "Voice";
                codeSentViaValue = asmAPIOptions.PhoneNumber;
                break;
        }
    }
}

<h2>Login Verification </h2>
@using (Html.BeginForm("VerifyOTP", "User", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <label class="col-md-12">Your login requires verification. We have sent you an identity code via @codeSentVia to: @codeSentViaValue</label>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
                <input type="hidden" id="authParam" name="authParam" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <a href="javascript: resendOTP();">Re-send code</a>
                <span id="txtResendErrorResponse" style="color:red;"></span>
                <span id="txtResendSuccessResponse" style="color:green;"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" id="txtPhoneNumber" class="form-control" placeholder="Phone Number(Optional)" />
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p style="margin-bottom:0px;">
                    <input type="radio" name="ResendViaOption" value="s" /> SMS
                </p>
                <p>
                    <input type="radio" name="ResendViaOption" value="v" /> Voice
                </p>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://demos.apersona.com:8443/nccu-java/js/sha1.js"></script>
    @*<script src="https://demos.apersona.com:8443/nccu-java/js/apersona_mitm.js"></script>*@
    <script src="~/Scripts/apersona.js"></script>
    <script type="text/javascript">
        function resendOTP() {
            $("#txtResendSuccessResponse").text("");
            $("#txtResendErrorResponse").text("Sending...");

            $.ajax({
                type: "POST",
                url: "/User/ResendOTP",
                data: { PhoneNumber: $("#txtPhoneNumber").val(), ResendViaOption: $("input[name=ResendViaOption]").val() },
                success: function (response) {
                    $("#txtResendErrorResponse").text("");
                    if (response.Succeeded) {
                        $("#txtResendSuccessResponse").text(response.Message);
                    }
                    else {
                        $("#txtResendErrorResponse").text(response.Message);
                    }
                },
                error: function (error) { console.log(error); }
            });
        }
    </script>
}
