@model Marksheet.Models.OptionalSubject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Details</h2>

<div>
    <h4>OptionalSubject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
