@model Marksheet.Models.Account
@{
    ViewBag.Title = "AdminDetial";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    img {
        border-radius: 50%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>



<div class="card mb-4 col-md-8">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Admin Detail</h3>
    </div>
    <div class="center">
        <img class="Circle" src="@Session["imageUrl"].ToString()" onerror="this.onload = null; this.src='/staticimg/school.jpg';" width="200" height="170" />
    </div>

    <div style="padding-top:10px;">
        <table class="table table-bordered" id="myTable">


            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.FullName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Phone)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkPhone)
                </th>

                <td>
                    @Html.DisplayFor(model => model.WorkPhone)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.URL)
                </th>

                <td>

                    @Html.DisplayFor(model => model.URL)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <td>
                    @Model.CreatedDate.ToShortDateString()
                </td>

            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>

                <td>
                    @Model.ModifiedDate.ToShortDateString()
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>

                <td>
                    @Html.DisplayFor(model => model.CreatedBy)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </td>
            </tr>
        </table>

    </div>
</div>


